/* To have a singe rotation on hover 

.image {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
    
}

.image:hover {
    transform: rotate(360deg);
   
} */

/* To have continuous clockwise rotation */
.image {
    animation: rotating 1s linear infinite;
}

@keyframes rotating
{    from 
        {
            transform: rotate(0deg);
        }
        to
        {
            transform:rotate(360deg);
        }
}

/* @-webkit-keyframes rotating
    {
        from
            {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
        to
            {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
    } */

